<footer class="footer">
  <div class="footer-content">
    <p>© 2025 Aqua Vitae Spa - Todos los derechos reservados.</p>
    <p>Proyecto Universitario</p>
    <div class="social-icons">
      <a href="https://www.facebook.com/?locale=es_LA" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.instagram.com/accounts/login/?source=auth_switcher&locale=es_ES" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://x.com/twitter?lang=es" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://mx.linkedin.com/" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
  </div>
</footer>
