<div class="contact-container">
    <div class="header">
      <img src="images/UAA.png" alt="Universidad Autónoma de Aguascalientes">
      <div class="info">
        <h1>Ingeniería en Sistemas Computacionales 6to B</h1>
        <h3>Materia: Tecnologías web</h3>
        <p>Docente: Georgina Salazar Partida</p>
      </div>
    </div>
    <div class="card-wrapper">
      <div class="card">
        <img src="images/integrante2.jpg" alt="Martha Melinna Flores Hernández">
        <h2>Martha Melinna Flores Hernández</h2>
        <p>Supervisor</p>
        <p class="phone">📞 +52 234 943 2472</p>
      </div>
      <div class="card">
        <img src="images/integrante1.jpg" alt="Joshua Davila Rodríguez">
        <h2>Joshua Davila Rodríguez</h2>
        <p>Empleado</p>
        <p class="phone">📞 +52 473 143 9267</p>
      </div>
      <div class="card">
        <img src="images/integrante3.jpg" alt="Oswaldo De La Cruz García">
        <h2>Oswaldo De La Cruz García</h2>
        <p>Administrador</p>
        <p class="phone">📞 +52 539 490 9155</p>
      </div>
    </div>
  </div>
  