<div class="login-container">
  <div class="form-section">
    <h3>Iniciar Sesión</h3>
    <form (ngSubmit)="login()">
      <input type="text" [(ngModel)]="username" name="username" placeholder="Usuario" required />
      <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required />
      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>

  <div class="form-section">
    <h3>Registrarse</h3>
    <form (ngSubmit)="register()">
      <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Nombre Completo" required />
      <input type="text" [(ngModel)]="newUsername" name="newUsername" placeholder="Usuario" required />
      <input type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Contraseña" required />
      <button type="submit">Registrarse</button>
    </form>
  </div>
</div>
